openapi: 3.0.0
info:
  title: Piel en Armonía API
  description: |
    API for booking, availability, and payment services.

    **Note on Routing:** This documentation uses RESTful paths (e.g., `/appointments`). However, the current implementation may require using the legacy query parameter format: `/api.php?resource=appointments`. If URL rewriting is not configured on the server, please use the legacy format.
  version: 1.0.0
servers:
  - url: https://pielarmonia.com/api
    description: Production server
paths:
  /appointments:
    get:
      summary: List all appointments
      description: Retrieve a list of all appointments. Requires Admin privileges.
      security:
        - sessionAuth: []
      responses:
        '200':
          description: A list of appointments
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Appointment'
        '401':
          description: Unauthorized
    post:
      summary: Create a new appointment
      description: Create a new appointment booking. Public endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAppointment'
      responses:
        '201':
          description: Appointment created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Appointment'
                  emailSent:
                    type: boolean
        '400':
          description: Bad Request (Validation Error)
        '409':
          description: Conflict (Slot unavailable)
        '503':
          description: Service Unavailable
    patch:
      summary: Update an appointment
      description: Update an existing appointment. Requires Admin privileges and CSRF token.
      security:
        - sessionAuth: []
        - csrfAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                status:
                  type: string
                  enum: [confirmed, cancelled, pending]
                paymentStatus:
                  type: string
                paymentMethod:
                  type: string
      responses:
        '200':
          description: Appointment updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (CSRF token missing or invalid)
        '404':
          description: Appointment not found
  /booked-slots:
    get:
      summary: Get booked slots
      description: Retrieve a list of booked slots for a specific date and doctor. Public endpoint.
      parameters:
        - in: query
          name: date
          schema:
            type: string
            format: date
          required: true
          description: The date to check for booked slots (YYYY-MM-DD).
        - in: query
          name: doctor
          schema:
            type: string
            enum: [rosero, narvaez, indiferente]
          description: The doctor to check availability for.
        - in: query
          name: service
          schema:
            type: string
          description: The service being booked.
      responses:
        '200':
          description: A list of booked slots
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: string
                      example: "10:00"
        '400':
          description: Bad Request
  /reschedule:
    get:
      summary: Check reschedule token
      description: Verify a reschedule token and retrieve appointment details. Public endpoint.
      parameters:
        - in: query
          name: token
          schema:
            type: string
          required: true
          description: The reschedule token.
      responses:
        '200':
          description: Token is valid and appointment details are returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/RescheduleInfo'
        '400':
          description: Invalid token
        '404':
          description: Appointment not found or cancelled
    patch:
      summary: Process reschedule
      description: Reschedule an appointment using a valid token. Public endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - date
                - time
              properties:
                token:
                  type: string
                date:
                  type: string
                  format: date
                time:
                  type: string
                  format: time
      responses:
        '200':
          description: Appointment rescheduled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/RescheduleResult'
        '400':
          description: Bad Request
        '409':
          description: Slot conflict
  /availability:
    get:
      summary: Get availability
      description: Retrieve available slots for a range of dates. Public endpoint.
      parameters:
        - in: query
          name: doctor
          schema:
            type: string
            enum: [rosero, narvaez, indiferente]
        - in: query
          name: service
          schema:
            type: string
        - in: query
          name: dateFrom
          schema:
            type: string
            format: date
        - in: query
          name: days
          schema:
            type: integer
            minimum: 1
            maximum: 45
      responses:
        '200':
          description: Availability data
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
    post:
      summary: Update availability
      description: Update availability configuration. Admin only. Not allowed if Google Calendar is active. Requires CSRF token.
      security:
        - sessionAuth: []
        - csrfAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                availability:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: string
      responses:
        '200':
          description: Availability updated
        '401':
          description: Unauthorized
        '403':
          description: Forbidden (Google Calendar active or CSRF missing)
  /payment-config:
    get:
      summary: Get payment configuration
      description: Retrieve public payment configuration keys. Public endpoint.
      responses:
        '200':
          description: Payment configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  provider:
                    type: string
                  enabled:
                    type: boolean
                  publishableKey:
                    type: string
                  currency:
                    type: string
  /payment-intent:
    post:
      summary: Create payment intent
      description: Initialize a Stripe PaymentIntent for a booking. Public endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAppointment'
      responses:
        '200':
          description: Payment intent created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  clientSecret:
                    type: string
                  paymentIntentId:
                    type: string
                  amount:
                    type: integer
                  currency:
                    type: string
                  publishableKey:
                    type: string
        '400':
          description: Bad Request
        '503':
          description: Payment gateway disabled
  /payment-verify:
    post:
      summary: Verify payment
      description: Verify the status of a PaymentIntent. Public endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - paymentIntentId
              properties:
                paymentIntentId:
                  type: string
      responses:
        '200':
          description: Payment status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  paid:
                    type: boolean
                  status:
                    type: string
                  amount:
                    type: integer
                  currency:
                    type: string
  /transfer-proof:
    post:
      summary: Upload transfer proof
      description: Upload a proof of payment for bank transfers. Public endpoint.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                proof:
                  type: string
                  format: binary
      responses:
        '201':
          description: Proof uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  data:
                    type: object
                    properties:
                      transferProofPath:
                        type: string
                      transferProofUrl:
                        type: string
  /stripe-webhook:
    post:
      summary: Stripe Webhook
      description: Handle Stripe webhook events. Public endpoint.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed
components:
  schemas:
    Appointment:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date
        time:
          type: string
          format: time
        doctor:
          type: string
        service:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        status:
          type: string
        paymentStatus:
          type: string
        paymentMethod:
          type: string
    NewAppointment:
      type: object
      required:
        - date
        - time
        - name
        - email
        - phone
        - service
        - privacyConsent
      properties:
        date:
          type: string
          format: date
        time:
          type: string
          format: time
        doctor:
          type: string
          enum: [rosero, narvaez, indiferente]
        service:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        privacyConsent:
          type: boolean
        paymentMethod:
          type: string
          enum: [card, transfer, cash]
        paymentIntentId:
          type: string
        transferReference:
          type: string
        transferProofPath:
          type: string
        transferProofUrl:
          type: string
    RescheduleInfo:
      type: object
      properties:
        id:
          type: integer
        service:
          type: string
        doctor:
          type: string
        date:
          type: string
        time:
          type: string
        name:
          type: string
        status:
          type: string
    RescheduleResult:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
        time:
          type: string
        doctor:
          type: string
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: PHPSESSID
    csrfAuth:
      type: apiKey
      in: header
      name: X-CSRF-Token
